  <label for="username">Username:</label>
  <input class="form_text" type="text" name="username" value="<%= @user.try(:username) %>" placeholder="username"><br>


  <label for="password">Password:</label>
  <input class="form_text" type="password" name="password" placeholder="password"><br>
