<h1>Login</h1>

<% if @error %>
  <div class="feedback"><%= @error %> </div>
<% end %>

<form method="post" action="/sessions/login">
  <%= erb :'/sessions/_form_fields' %>
  <input class="form_text" type="submit" value="wash it">
</form>
