<h1>Login</h1>
<%= @error %>
<% if @error %>
  <span><%= @error %> </span>
<% end %>

<form method="post" action="/sessions/login">
  <%= erb :'/sessions/_form_fields' %>
  <input class="form_text" type="submit" value="Start the Wash">
</form>
