@import 'https://fonts.googleapis.com/css?family=Cookie';
@import url('http://fonts.googleapis.com/css?family=Lato');

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
}

html {
  font-family: Helvetica,Arial,sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #42A5F5;
}

h1 {
  font-size: 3em;
  margin: 2% 0;
}

h2 {
  font-size: 2.2em;
}

h1, h2, h3 {
  font-family: 'Cookie', cursive;
  font-weight: lighter;
}

#container {
  color: white;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  font-family: 'Cookie', cursive;
}

header {
  display: block;
  margin: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  background-image: url("../images/header-rinse-and-repeat.png");
  background-repeat: no-repeat;
  background-position: 90% bottom;
  border-bottom: 2px solid #5F5E5E;
}

header .title {
  display: inline-block;
  margin: 98px 0 0 10%;
  font-family: 'Cookie', cursive;
  font-size: 4em;
  color: #394AAB;
}

nav {
  display: block;
  margin: 0 5% 0 70%;
}

.nav_link {
  color: white;
  display: inline-block;
  text-align: center;
  margin: 0 2%;
  width: 75px;
  line-height: 2.2em;
  background-color: #FFCA28;
  border-radius: 3px;
}

a, a:visited{
  text-decoration: none;
  color: #394AAB;
}


/* Deck Cards */
#deck_container {
  text-align: center;
  margin: 0 auto;
}

.suds {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 35px 0;
  vertical-align: top;
  margin: 2%;
  text-align: center;
  background: url(../images/bubble.png) center no-repeat;
  font-family: 'Cookie', cursive;
  font-size: 2em;
}

.label{
  color: white;
  font-size: 1.6em;
  line-height: 2.5em;
  margin-left: 5%;
}

/* Form Fields */
.form_text {
  color: #394AAB;
}

/* MUTLIPLE CHOICE */
#container ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
  font-size: 1.4em;
}

ul li{
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-size: 1.3em;
  padding: 0px 30px;
  margin: 10px auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #FFCA28;
}

ul li .check{
  display: block;
  position: absolute;
  border: 3px solid white;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 3px;
  left: 0;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 7px solid #FFCA28;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 8px solid #394AAB;
}

nput[type=radio]:checked ~ .check::before{
  background: #394AAB;
}

input[type=radio]:checked ~ label{
  color: #394AAB;
}

input[type=submit] {
  border: 0;
  padding: 2%;
  border-radius: 100%;
  font-size: 1.8em;
  background-color: #B2E5FC;
  color: #394AAB;
}

input[type=submit]:hover {
  background-color: #394AAB;
  color: white;
  -webkit-transition: background 0.5s linear;
}
