<!-- ajf working on this-->
<h2>Your suds stats</h2>

session[:user_id] == @user.id

<!-- Gameplay will send. This is all cards guessed correctly on first try. -->
session[:correct_first_guesses]

<!-- total cards -->
@deck.cards.count

<!-- display deck -->
@rounds.deck_id

<!-- Total guesses. Gameplay will send -->
session[:total_guesses]
