<h1>Your suds stats</h1>
<br>
<!-- session[:user_id] == @user.id -->
<br>
<!-- display deck -->
<p>Cards you've seen: <%= session[:cards_presented].count %></p>
<p>Cards in play: <%= session[:cards_in_play].count %></p>
<p>Your correct first guessions: <%= session[:correct_first_guesses] %></p>
<p>Your correct total guesses: <%= session[:total_guesses] %></p>
