<h1>Create a New Account</h1>
<form action="/users" method="post">
  <label for="email">Email:</label>
  <input class="form_text" type="email" name="email" placeholder="email" value="<%= @user.try(:email) %>" />
  <br />
  <%= erb :'/sessions/_form_fields' %>
  <input class="form_text" type="submit" value="Register" />
</form>
