<h1>Pick your Suds Category!</h1>

<div id="deck_container">
  <% @decks.each do |deck| %>
    <div class="grid_box">
      <a href="/decks/<%= deck.id %>">
        <div class="label"><%= deck.name %></div>
      </a>
    </div>
  <% end %>
</div>
