<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <!-- <%= session.inspect %> -->
    <div class="title">Rinse and Repeat</div>
    <nav>
      <% unless logged_in? %>
        <div class="nav_link"><a href="/users/new">register</a></div>
        <div class="nav_link"><a href="/sessions/login">login</a></div>
      <% else %>
        <div class="nav_link"><a href="/users/:id">username</a></div>
        <div class="nav_link"><a href="/sessions/logout">logout</a></div>
      <% end %>
      <div class="nav_link"><a href="/">home</a></div>
  </nav>
  </header>

  <div id="container">
    <%= yield %>
  </div>

</body>
</html>
